
config.json
google-services.json
variveisConfig.txt
include.php
resolvConfig.full.js
logotipo.png
logo-mini.png
logo.png
form.js

controller/config/*
controller/ClassSQL/*
script/*
img/*
view/*

*.env
!configTemplate.env

/vendor/
