{
	"db_host": "host",
	"db_nome": "dbname",
	"db_usuario": "user",
	"db_senha": "password",
	"db_driver": "mysql", 			// mysql | firebird | sqlsrv
	"db_instancia": "instancia",	// SQL Server
	"db_port": "1433",				// SQL Server
	"dt_encode": "UTF8", 			// Firebird
	"ftp_host": "host",
	"ftp_user_name": "user",
	"ftp_user_pass": "pass",
	"ftp_port": "21"
}