{
	"db_host": "host",
	"db_nome": "dbname",
	"db_usuario": "user",
	"db_senha": "password",
	"db_driver": "mysql", 			// mysql | firebird | sqlsrv
	"db_instancia": "instancia",	// SQL Server
	"db_port": "1433",				// SQL Server
	"dt_encode": "UTF8", 			// Firebird
	"ftp_host": "host",
	"ftp_user_name": "user",
	"ftp_user_pass": "pass",
	"ftp_port": "21",
	"password_reset__name":"Emissor",
	"password_reset__host":"smtp.host.com",
	"password_reset__email":"password_reset@email.com",
	"password_reset__psw":"senha",
	"password_reset__isGmail":true,
	"password_reset__endereco": "Rua tal, Bairro, Cidade - UF 00000-001",
	"password_reset__site": "site.com",
	"password_reset__emailContato": "contato@email.com"
}